* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common  */

body {
    background-color: lightgray;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

/* header  */

header {
    width: 30vw;
    margin: 20px auto 0px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(gray, white, gray);
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid darkgray;
    border-bottom: 5px solid darkgray;
}

header h1 {
    margin-bottom: 10px;
}
header button {
    width: 40px;
}

header button img {
    width: 100%;
}

header #reset {
    margin-top: 10px;
}

/* main  */
main .wrapper {
    width: 30vw;
    margin: 0 auto;
    background-color: lightgrey;
    padding-top: 10px;
    
}

.container {
    background: linear-gradient(white, lightgray);
    border-top: 10px solid gray;
    border-left: 10px solid gray;
    border-right: 10px solid darkgray;
    border-bottom: 10px solid darkgray;
}

.square {
    float: left;
    width: calc((30vw / 10) - 2px);
    height: calc((30vw / 10) - 2px);
    border: 1px solid gray;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.cell:hover {
    background-color: cornflowerblue;
}

main .score-box {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    font-size: 30px;
    border-top: 5px solid gray;
    border-left: 5px solid gray;
    border-right: 5px solid darkgray;
    border-bottom: 5px solid darkgray;
}
